@import '../../Config.scss';

$modal-background-color: $color-white-1;
$modal-close-color: $color-red-1;
$modal-close-color-hover: $color-red-1-hover;


.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8999;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);

    &__msg {
        position: absolute;
        top: 20%;
        left: 30%;
        width: 40%;
        z-index: 9999;
        background-color: $modal-background-color;
        padding: 32px;
    }

    &__button {
        display: block;
        margin-left: auto;
        background-color: $modal-close-color; 

        &:hover {
            background-color: $modal-close-color-hover; 
        }
    }
}